<section class="todoapp">
  <header class="header">
    <h1>{{title}}</h1>
    <input class="new-todo" #todoInput (keyup.Enter)="enterTodo(todoInput);" [placeholder]="placeHolder" autofocus>
  </header>
  <section class="main" style="display: block;">
    <input id="toggle-all" class="toggle-all" type="checkbox" [checked]="toggleAllStatus" (click)="toggleAll()">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li *ngFor="let item of selectTodoList; let i=index;" data-id="1659859088014"
        [ngClass]="{completed: item.status, editing: item.editing}">
        <div class="view">
          <input class="toggle" type="checkbox" [checked]="item.status" (click)="check(item)">
          <label (dblclick)="editing(item)">{{item.thing}}</label>
          <button (click)="deleteTodo(item)" class="destroy"></button>
        </div>
        <input *ngIf="item.editing" [value]="item.thing" #editInput (keyup.Enter)="saveEditInput(item, editInput);"
          (blur)="saveEditInput(item, editInput);" (mouseenter)="editInput.focus();" class="edit">
      </li>
    </ul>
  </section>
  <footer class="footer" style="display: block;">
    <span class="todo-count"><strong>{{selectTodoList.length}}</strong> items left</span>
    <ul class="filters">
      <li>
        <a [ngClass]="{selected: nowTodoListStatus == todoListStatus.All}" href="#/" (click)="settodoListStatus(todoListStatus.All);">All</a>
      </li>
      <li>
        <a [ngClass]="{selected: nowTodoListStatus == todoListStatus.Active}" href="#/active" (click)="settodoListStatus(todoListStatus.Active);">Active</a>
      </li>
      <li>
        <a [ngClass]="{selected: nowTodoListStatus == todoListStatus.Completed}" href="#/completed" (click)="settodoListStatus(todoListStatus.Completed);">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" (click)="clearCompleted();" *ngIf="!(getCompletedTodoList() == 0)">Clear completed</button>
  </footer>
</section>